{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Home</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Segoe+UI%3A400%2C700"/>
  <link rel="stylesheet" href="../static/css/home.css"/>
</head>
<body>
<div class="home-XvE">
  <div class="auto-group-aeax-HPc">
    <div class="header--o74">
      <div class="logo-VEn">
        <img class="image-1-Ey4" src="../static/images/assets/image-1-tke.png"/>
        <p class="lab-tracker-Ari">
        Lab
        <br/>
        Tracker
        </p>
      </div>
      <div class="navigation-gKG">
        <p class="home-bBL">Home</p>
        <p class="about-hkA">About</p>
        <p class="contact-ddp">Contact</p>
      </div>
      <div class="auto-layout-horizontal-Mpi">
        <div class="styleoutlined-WBp">Sign Up</div>
        <div class="stylefilled-aBg">Login </div>
      </div>
    </div>
    <div class="auto-group-apsw-noY">
      <div class="how-it-helps-u7U">
        <div class="auto-group-fx8p-2Sz">
          <div class="how-lab-tracker-helps-wpr">How Lab Tracker  helps</div>
          <div class="simplify-equipment-management-for-a-more-productive-laboratory-T2W">Simplify equipment management for a more productive laboratory</div>
        </div>
        <div class="auto-group-dtbu-XYA">
          <div class="inventory-Gke">
            <div class="auto-group-xzew-CPQ">
              <img class="image-2-6Dt" src="../static/images/assets/image-2.png"/>
            </div>
            <div class="inventory-management-bgS">Inventory Management</div>
            <div class="highlight-the-core-service-of-your-website-which-is-the-efficient-management-of-laboratory-equipment-inventory-explain-how-the-system-allows-users-to-add-track-and-organize-their-equipment-inventory-in-a-centralized-database-hUa">
            Highlight the core service of your website, which is the efficient management of laboratory equipment inventory.
            <br/>
            Explain how the system allows users to add, track, and organize their equipment inventory in a centralized database.
            </div>
          </div>
          <div class="equip-KVx">
            <div class="auto-group-bhzj-3gr">
              <img class="image-3-Z9Q" src="../static/images/assets/image-3.png"/>
              <div class="rectangle-23787-fy8">
              </div>
            </div>
            <div class="equipment-tracking-and-borrowing-zEi">Equipment Tracking and Borrowing</div>
            <div class="describe-the-functionality-that-enables-users-to-track-the-status-and-location-of-equipment-within-the-laboratory-emphasize-the-ability-to-borrow-equipment-record-borrower-information-and-set-return-deadlines-fbk">
            Describe the functionality that enables users to track the status and location of equipment within the laboratory.
            <br/>
            Emphasize the ability to borrow equipment, record borrower information, and set return deadlines.
            </div>
          </div>
          <div class="notifs-Ht2">
            <div class="auto-group-goth-1p2">
              <img class="image-4-jEE" src="../static/images/assets/image-4.png"/>
              <div class="rectangle-23787-TR8">
              </div>
            </div>
            <div class="notifications-and-alerts-Bc2">Notifications and Alerts</div>
            <div class="highlight-the-systems-feature-of-sending-automated-notifications-and-alerts-to-borrowers-regarding-upcoming-return-deadlines-explain-how-this-helps-in-ensuring-timely-returns-and-minimizing-the-risk-of-equipment-loss-or-delay-fGJ">
            Highlight the system&#39;s feature of sending automated notifications and alerts to borrowers regarding upcoming return deadlines.
            <br/>
            Explain how this helps in ensuring timely returns and minimizing the risk of equipment loss or delay.
            </div>
          </div>
          <img class="vector-5-sNN" src="../static/images/assets/vector-5.png"/>
          <img class="vector-6-zC6" src="../static/images/assets/vector-6.png"/>
        </div>
      </div>
      <div class="hero-i86">
        <img class="chemistrylab-bro-removebg-preview-1-qTc" src="../static/images/assets/chemistrylab-bro-removebg-preview-1.png"/>
        <div class="auto-group-jspm-Z8i">
          <div class="auto-layout-vertical-574">
            <p class="lab-tracker-d8a">Lab Tracker</p>
            <p class="track-borrow-and-keep-a-record-of-all-your-lab-equipment-in-one-place-LYn">
              <span class="track-borrow-and-keep-a-record-of-all-your-lab-equipment-in-one-place-LYn-sub-0">Track, borrow, and keep a record of all your lab equipment in one place.</span>
              <span class="track-borrow-and-keep-a-record-of-all-your-lab-equipment-in-one-place-LYn-sub-1"> </span>
            </p>
          </div>
          <div class="main-button-pMU">
            <div class="auto-group-dyph-7rN">Get started</div>
            <img class="line-rounded-arrow-right-1wk" src="../static/images/assets/line-rounded-arrow-right.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-4auh-WtW">
      <img class="team-work-rafiki-1-Rka" src="../static/images/assets/team-work-rafiki-1.png"/>
      <div class="abou-9Rg">
        <p class="about-lab-tracker-fev">About Lab Tracker</p>
        <p class="welcome-to-lab-tracker-where-from-small-scale-research-facilities-to-large-academic-institutions-our-inventory-system-is-scalable-and-adaptable-to-any-laboratory-setting-by-providing-a-centralized-hub-for-equipment-data-and-borrower-information-we-aim-to-optimize-resource-utilization-reduce-downtime-and-enhance-overall-efficiency-P58">Welcome to Lab Tracker, where from small-scale research facilities to large academic institutions, our inventory system is scalable and adaptable to any laboratory setting. By providing a centralized hub for equipment data and borrower information, we aim to optimize resource utilization, reduce downtime, and enhance overall efficiency.</p>
      </div>
    </div>
  </div>
  <div class="auto-group-lwh9-kJz">
    <div class="travel-head-giS">
    </div>
    <div class="how-it-works-1Ev">
      <div class="header-gM4">How it works</div>
      <div class="list-vFQ">
        <div class="auto-group-gcpb-EWz">
          <div class="list-item-ZJN">
            <div class="number-g86">1</div>
            <div class="sign-up-or-log-in-to-your-account-as-a-user-or-admin-91g">Sign up or log in to your account as a user or admin</div>
          </div>
          <div class="list-item-48e">
            <div class="number-AhU">2</div>
            <div class="explore-the-dashboard-and-familiarize-yourself-with-the-features-r4W">
            Explore the dashboard and familiarize yourself with the features.
            <br/>

            </div>
          </div>
          <div class="list-item-jtz">
            <div class="number-rii">3</div>
            <div class="as-an-admin-add-equipment-by-providing-necessary-details-WYN">As an admin, add equipment by providing necessary details.</div>
          </div>
          <div class="list-item-RQS">
            <div class="number-MJ6">4</div>
            <div class="organize-equipment-using-categories-and-tags-e2J">
            Organize equipment using categories and tags.
            <br/>

            </div>
          </div>
          <div class="list-item-9Dx">
            <div class="number-HLA">5</div>
            <div class="track-equipment-by-searching-for-its-name-or-details-Y1C">
            Track equipment by searching for its name or details.
            <br/>

            </div>
          </div>
        </div>
        <div class="list-item-ngE">
          <div class="number-jbU">6</div>
          <div class="as-a-user-borrow-equipment-by-selecting-items-and-setting-return-deadlines-DFk">
          As a user, Borrow equipment by selecting items and setting return deadlines.
          <br/>

          </div>
        </div>
        <div class="auto-group-ov7u-JHC">
          <div class="list-item-EwY">
            <div class="number-x6r">7</div>
            <div class="receive-automated-notifications-for-return-reminders-158">Receive automated notifications for return reminders.</div>
          </div>
          <div class="number-ikE">8</div>
        </div>
      </div>
      <div class="auto-group-r2fv-oWn">
        <div class="stylefilled-Wvz">Signup</div>
        <div class="buton2-MAv">Login</div>
      </div>
    </div>
  </div>
  <div class="footer-kTx">
    <div class="auto-group-kzqq-GBQ">
      <div class="logo-ybc">
        <img class="image-1-jKt" src="../static/images/assets/image-1-YLW.png"/>
        <p class="lab-tracker-3La">
        Lab
        <br/>
        Tracker
        </p>
      </div>
      <div class="auto-group-sy6f-Z42">
        <div class="navigation-52N">
          <p class="home-zQE">Home</p>
          <p class="about-un6">About</p>
          <p class="contact-pu4">Contact</p>
        </div>
        <div class="social-media-container-9Ae">
          <img class="social-media-icon-square-facebook-GWA" src="../static/images/assets/social-media-icon-square-facebook-WEz.png"/>
          <img class="social-media-icon-square-twitter-C8v" src="../static/images/assets/social-media-icon-square-twitter.png"/>
          <img class="social-media-icon-square-instagram-isx" src="../static/images/assets/social-media-icon-square-instagram-pJi.png"/>
          <img class="social-media-icon-square-linkedin-FN6" src="../static/images/assets/social-media-icon-square-linkedin-254.png"/>
        </div>
      </div>
    </div>
    <div class="footer-botom-Nhc">Copyright © 2023 Lab Tracker| All Rights Reserved </div>
  </div>
</div>
</body>